<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Ads List</h5>
                </div>

                <div class="card-body">
                    <div class="pull-right">
                        <select class="custom-select" [(ngModel)]="selected" (change)="typeDropDown($event)">
                            <option value="ALL">ALL</option>
                            <option class="dropdown-item" *ngFor="let option of AdsType" data-list="option"
                                value="{{ option.code }}">
                                {{ option.name }}
                            </option>
                        </select>
                    </div>
                    <div class="pull-right">
                        <select class="custom-select" (change)="subCatDropDown($event)">
                            <option value="ALL">ALL</option>
                            <option class="dropdown-item" *ngFor="let option of categoryNameList" data-list="option"
                                value="{{ option.category.id }}">
                                {{ option.category.name }}
                            </option>
                        </select>
                    </div>

                    <div id="batchDelete" class="category-table custom-datatable">
                        <div class="table-responsive">
                            <ng2-smart-table (userRowSelect)="onUserRowSelect($event)" [settings]="settings"
                                [source]="rolList" (deleteConfirm)="onDeleteConfirm($event)"  (custom)="onCustomAction($event)"
                                (editConfirm)="onEditConfirm($event)" (createConfirm)="onCreateConfirm($event)">
                            </ng2-smart-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->