<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>update Ads</h5>
                </div>
                <div class="card-body">
                    <form [formGroup]="generalForm" class="needs-validation" novalidate="">
                        <!-- Carousel wrapper -->
                        <div id="carouselMultiItemExample" class="carousel slide carousel-dark text-center"
                            data-mdb-ride="carousel">
                            <!-- Controls -->
                            <!-- <div class="d-flex justify-content-center mb-4">
                        <button
                            class="carousel-control-prev position-relative"
                            type="button"
                            data-mdb-target="#carouselMultiItemExample"
                            data-mdb-slide="prev"
                        >
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button
                            class="carousel-control-next position-relative"
                            type="button"
                            data-mdb-target="#carouselMultiItemExample"
                            data-mdb-slide="next"
                        >
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                        </div> -->
                            <!-- Inner -->
                            <div class="carousel-inner py-4">
                                <!-- Single item -->
                                <div class="carousel-item active">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-4" *ngFor="let img of images">
                                                <div class="card">
                                                    <img width="50px" height="100px" [src]="img.image"
                                                        class="card-img-top" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Inner -->
                        </div>
                        <!-- Carousel wrapper -->

                        <div class="row">
                            <div class="col-sm-12">
                                <h3>Ads Details</h3>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <!-- dropdown -->
                                    <label for="validationCustom01">id</label>
                                    <input formControlName="Id" type="text" class="form-control" disabled
                                        placeholder="id" [value]="id" />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <!-- dropdown -->
                                    <label for="validationCustom01">type</label>
                                    <select class="form-control" formControlName="TypeOfAds"
                                        (change)="onSelect($event)" value={{typeOfAds}}>
                                        <option class="dropdown-item" *ngFor="let option of categoryList"
                                            data-list="option">
                                            {{ option.name }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <!-- dropdown -->
                                    <label for="validationCustom01">categoryName</label>
                                    
                                    <select [value]="categoryName" class="form-control" formControlName="CategoryName">
                                        
                                        <option *ngFor="let option of categoryNameList"
                                            data-list="option">
                                            {{ option.category.name }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <!-- dropdown -->
                                    <label for="validationCustom01">categoryId</label>
                                    <input type="text" class="form-control" placeholder="categoryId"
                                        value={{categoryId}} />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="validationCustom01">city</label>
                                    <select class="custom-select" placeholder="city" formControlName="City"
                                        [value]="city">
                                        <option *ngFor="let option of cities; let index = index" data-list="option">
                                            {{ option.cityAr }}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="validationCustom01">active</label><br>
                                    <label class="switch"><input type="checkbox" [checked]="active" id={{XDId}}
                                        (change)="onClick($event)"/><span class="slider round"></span></label>
                                </div>
                                
                            </div>
                                
                                
                                
                            
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="validationCustom01">phone</label>
                                    <input type="tel" class="form-control" placeholder="phone" [value]="phone" />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="validationCustom01">First name</label>
                                    <input type="text" class="form-control" placeholder="firstName"
                                        [value]="firstName" />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="validationCustom02">Last name</label>
                                    <input type="text" class="form-control" id="validationCustom02"
                                        placeholder="Last name" [value]="lastName" />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="validationCustom01">description</label>
                                    <textarea height="35px" type="text" class="form-control"
                                        formControlName="Description" placeholder="description" [value]="description">
                  </textarea>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="validationCustom01">price</label>
                                    <input type="text" class="form-control" placeholder="price" formControlName="Price"
                                        [value]="price" />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="validationCustomUsername">email</label>
                                    <input type="email" class="form-control" id="validationCustom03" placeholder="email"
                                        [value]="email" />
                                </div>
                            </div>

                            <div class="col-sm-4" *ngFor="let item of extra">
                                <div class="form-group">
                                    <label>{{ item.name }} </label>
                                    <input type="text" class="form-control" value="{{ item.value }}"
                                        name="{{ item.code }}" />
                                </div>
                            </div>

                            <!--<div formArrayName="Items" *ngFor="let item of Items.controls ;">
                            
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>{{item.name}} </label>
                                        <input type="text" class="form-control"  [formControlName]="{{item.code}}"/>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </form>
                    <div class="pull-right">
                        <button type="button" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->