<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h5>User Details</h5>
        </div>
        <div class="card-body">
            <!-- <div class="btn-popup pull-right">
                <a class="btn btn-secondary" [routerLink]="'/users/create-user'">Create User</a>
            </div> -->
            <div id="batchDelete" class="category-table custom-datatable transcation-datatable user-image">
                <div class="table-responsive">
                    <div *ngIf="isLoading; else table" class="text-center">
                        <div class="spinner-border" style="width: 40px; height: 40px;">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <ng-template #table>
                    <ng2-smart-table [settings]="settings" [source]="user_list"></ng2-smart-table>
                        </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->