<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5> {{typeName}} category</h5>
                </div>
                <div class="card-body">
                    <div id="batchDelete" class="category-table custom-datatable transcation-datatable">
                        <div class="table-responsive">
                            <div *ngIf="isLoading; else table" class="text-center">
                                <div class="spinner-border" style="width: 40px; height: 40px;">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                            <ng-template #table>
                            <div class="btn-popup pull-right">
                                <ng-template #content let-modal>
                                    <div class="modal-header">
                                        <h5 class="modal-title f-w-600" id="exampleModalLabel">confirm message</h5>
                                        <button type="button" class="close" aria-label="Close"
                                            (click)="modal.dismiss('Cross click')">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <h3>Are you sure?</h3>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" (click)="delete(deletedItemId)" (click)="modal.dismiss('Cross click')" class="btn btn-primary" >Delete</button>
                                        <button class="btn btn-secondary" type="button" data-dismiss="modal"
                                            (click)="modal.dismiss('Cross click')">Close</button>
                                    </div>
                                </ng-template>
                            </div>
                            <ng2-smart-table (deleteConfirm)="onDeleteConfirm($event,content)" [settings]="settings" [source]="categoryList"
                            ></ng2-smart-table>
                        </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->