<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>category list</h5>
                </div>
                <div class="card-body">
                    <div class="custom-datatable">
                        <!-- <input type='text' class="filter-ngx form-control" placeholder='Search...'
                            (keyup)='updateFilter($event)'  /> -->
                        <div *ngIf="isLoading; else table" class="text-center">
                            <div class="spinner-border" style="width: 40px; height: 40px;">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                        <ng-template #table>
                            
                            <ng2-smart-table  [settings]="settings" [source]="categoryList"
                            ></ng2-smart-table>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>