<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Create Blog Category</h5>
                </div>
                <div class="card-body">
                    <form [formGroup]="categoryForm" (ngSubmit)="create()"  class="needs-validation" novalidate="">

                        <div class="row">
                            
                            <!-- <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="validationCustom01">name</label>
                                    <select class="form-control" formControlName="name" value="category Name">
                                        <option class="dropdown-item" *ngFor="let option of blogCategoryList" data-list="option"
                                            [value]="option.id" >
                                            {{ option.name }}
                                        </option>
                                    </select>
                                    <div class="text-danger" *ngIf="!name.valid ">
                                        <small *ngIf="name.errors.required && name.touched"
                                            [class.is-invalid]="name.invalid || name.touched" class="text-danger">
                                    field is required
                                        </small>
                                        </div>
                                </div>
                                    
                            </div> -->
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="validationCustom01">name</label>
                                    <input type="text" class="form-control" formControlName="name" placeholder="name"/>
                                    <div class="text-danger" *ngIf="!name.valid ">
                                        <small *ngIf="name.errors.required && name.touched"
                                            [class.is-invalid]="name.invalid || name.touched" class="text-danger">
                                    field is required
                                        </small>
                                        </div>
                                </div>
                            </div>
                            
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="validationCustom01">nameAr</label>
                                    <input  class="form-control" formControlName="nameAr" placeholder="nameAr"/>
                                        <div class="text-danger" *ngIf="!nameAr.valid ">
                                        <small *ngIf="nameAr.errors.required && nameAr.touched"
                                            [class.is-invalid]="nameAr.invalid || nameAr.touched" class="text-danger">
                                                field is required
                                        </small>
                                        </div>
                                </div>
                            </div>

                            <!-- <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="validationCustom01">type</label>
                                    <input  class="form-control" formControlName="type" placeholder="type"/>
                                        <div class="text-danger" *ngIf="!type.valid ">
                                        <small *ngIf="type.errors.required && type.touched"
                                            [class.is-invalid]="type.invalid || type.touched" class="text-danger">
                                                field is required
                                        </small>
                                        </div>
                                </div>
                            </div> -->

                            <!-- <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="validationCustom01">type</label>
                                    <select class="form-control" 
                                    formControlName="type" >
                                        <option class="dropdown-item" *ngFor="let option of categoryList" data-list="categoryList"
                                            [value]="option.id" >
                                            {{ option.Name }}
                                        </option>
                                    </select>
                                    <div class="text-danger" *ngIf="!type.valid ">
                                        <small *ngIf="type.errors.required && type.touched"
                                            [class.is-invalid]="type.invalid || type.touched" class="text-danger">
                                    field is required
                                        </small>
                                        </div>
                                </div>
                            </div> -->

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="validationCustom01">icon Select</label>
                                    <app-upload-file (uploadResponseEvent)="setIconSelect($event)"></app-upload-file> 
                                </div>

                                <div class="form-group" *ngIf="iconUpload != null">
                                    <img src="{{iconUpload}}" style="width: 60px;height: 60px;"/>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="validationCustom01">external_link</label><br>
                                    <label class="switch" ><input type="checkbox" formControlName="external_link" value="true" checked>
                                    <span class="slider round"></span></label>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="validationCustom01">active</label><br>
                                    <label class="switch" ><input type="checkbox" formControlName="active" value="true"  checked>
                                    <span class="slider round"></span></label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="validationCustom01">icon</label>
                                    <app-upload-file (uploadResponseEvent)="setIcon($event)"></app-upload-file>
                                </div>
                                <div class="form-group" *ngIf="iconSelectUpload != null">
                                    <img src="{{iconSelectUpload}}" style="width: 60px;height: 60px;"/>
                                </div>

                            </div>
                            
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="validationCustom01">description</label>
                                    <textarea  class="form-control" formControlName="description" placeholder="description"></textarea>
                                        <div class="text-danger" *ngIf="!icon_select.valid ">
                                        <small *ngIf="description.errors.required && description.touched"
                                            [class.is-invalid]="description.invalid || description.touched" class="text-danger">
                                                field is required
                                        </small>
                                        </div>
                                </div>
                            </div>

                        </div>
                        <div class="pull-right">
                        <button type="submit"  class="btn btn-primary" onsubmit="">Create</button>
                    </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->