<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Create blog</h5>
                </div>
                <div class="card-body">
                    <form [formGroup]="blogForm" (ngSubmit)="createBlogApi()" class="needs-validation" novalidate="">

                        <div class="row">
                            <div class="col-sm-12">
                                <h3>create Blog</h3>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <!-- dropdown -->

                                    <label for="validationCustom01">id</label>
                                    <input formControlName="BlogId" type="number" min="0" class="form-control" [value]="typeId" placeholder="id" />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <!-- dropdown -->
                                    <label for="validationCustom01">type</label>
                                    <input type="text" class="custom-select" formControlName="Type"/>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <!-- dropdown -->
                                    <label for="validationCustom01">description</label>
                                    <textarea  class="form-control" formControlName="Description" placeholder="description">
                                    </textarea>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="validationCustom01">images</label>
                                    <input type="text" class="custom-select" placeholder="images" formControlName="Images">
                                    
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="validationCustom01">userId</label>
                                    <input type="number" [value]="userId" class="form-control" formControlName="UserId" placeholder="UserId"  />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="validationCustom01">external</label>
                                    <input type="checkbox"  class="form-control" formControlName="externalLink" placeholder="userId"  />
                                </div>
                            </div>
                                
                            
                        </div>
                        <div class="pull-right">
                        <button type="submit"  class="btn btn-primary">Create</button>
                    </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->