<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>category list</h5>
                </div>
                <div class="card-body">
                    <div class="custom-datatable">
                        <input type='text' class="filter-ngx form-control" placeholder='Search...'
                            (keyup)='updateFilter($event)'  />
                        <ngx-datatable #table class="bootstrap" [rows]="order" [columnMode]="'force'" [headerHeight]="50"
                            [footerHeight]="50" [rowHeight]="'auto'" [limit]="5" (activate)='onSelect($event)'>
                            <ngx-datatable-column prop="id"></ngx-datatable-column>
                            <ngx-datatable-column name="active"></ngx-datatable-column>
                            <ngx-datatable-column prop="code"></ngx-datatable-column>
                            <ngx-datatable-column prop="name"></ngx-datatable-column>
                            <ngx-datatable-column prop="nameAr"></ngx-datatable-column>
                            <ngx-datatable-column name="createdDate"></ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->