<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>reports Reasons</h5>
                </div>
                <div class="card-body">

                    <div class="btn-popup pull-right">
                        <ng-template #content let-modal>
                            <div class="modal-header">
                                <h5 class="modal-title f-w-600" id="exampleModalLabel">Deleted Record </h5>
                                
                            </div>
                            <div class="modal-body">
                                <h3> * Are you Sure</h3>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Delete</button>
                                <button class="btn btn-secondary" type="button" data-dismiss="modal"
                                    (click)="modal.dismiss('Cross click')">Cancle</button>
                            </div>
                        </ng-template>

                    </div>
                    <ng2-smart-table [settings]="settings"  (deleteConfirm)="onDeleteConfirm($event,content)"                               [source]="reportsReasonsList" >

                    </ng2-smart-table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->