<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="col-sm-12">
                        <div class="pull-right">
                            <a type="button" href="#/#" class="btn btn-primary">create Category</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
<!-- 
                    <div class="btn-popup pull-right">
                        
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-original-title="test"
                            data-target="#exampleModal" (click)="open(content)">Add blog Category </button>
                        <ng-template #content let-modal>
                            <div class="modal-header">
                                <h5 class="modal-title f-w-600" id="exampleModalLabel">Add blog Category</h5>
                                <button type="button" class="close" aria-label="Close"
                                    (click)="modal.dismiss('Cross click')">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form class="needs-validation">
                                    <div class="form">
                                        <div class="form-group">
                                            <label for="validationCustom01" class="mb-1"> Category Name :</label>
                                            <input class="form-control" id="validationCustom01" type="text">
                                        </div>
                                        <div class="form-group mb-0">
                                            <label for="validationCustom02" class="mb-1"> Category Image :</label>
                                            <input class="form-control" id="validationCustom02" type="file">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" >Save</button>
                                <button class="btn btn-secondary" type="button" data-dismiss="modal"
                                    (click)="modal.dismiss('Cross click')">Close</button>
                            </div>
                        </ng-template>
                    </div> -->

                    <div id="batchDelete" class="category-table custom-datatable">
                        <div class="table-responsive">
                            <div *ngIf="isLoading; else table" class="text-center">
                                <div class="spinner-border" style="width: 40px; height: 40px;">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                            <ng-template #table>
                                <div class="btn-popup pull-right">
                                    <ng-template #content let-modal>
                                        <div class="modal-header">
                                            <h5 class="modal-title f-w-600" id="exampleModalLabel">confirm message</h5>
                                            <button type="button" class="close" aria-label="Close"
                                                (click)="modal.dismiss('Cross click')">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <h3>Are you sure?</h3>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" (click)="delete(deletedItemId)" (click)="modal.dismiss('Cross click')" class="btn btn-primary" >Delete</button>
                                            <button class="btn btn-secondary" type="button" data-dismiss="modal"
                                                (click)="modal.dismiss('Cross click')">Close</button>
                                        </div>
                                    </ng-template>
                                </div>
                            <ng2-smart-table [settings]="settings" [source]="blogCategoryList"
                            (deleteConfirm)="onDeleteConfirm($event,content)" >
                        </ng2-smart-table>
                        </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->